---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";

import { Picture } from 'astro:assets';
import parrotImage from "@assets/images/parrot-in-tree.jpg";
import carmelImage from "@assets/images/about me A.webp";
---

<BaseLayout
  title="About"
  description="About me"
  preloadImg={import("../assets/images/landing.jpg")}
>
  <section id="int-hero">
    
    <div class="cs-picture">
        <Picture src={parrotImage} alt="parrot in tree" aria-hidden="true" />
    </div>
  </section>


<section id="content-page-713">
  <div class="cs-container">
      <div class="cs-content">
          <h1 class="cs-title">Meet Carmel</h1>
          
          <h3>My background</h3>
          
          <p class="cs-text">I grew up in Melbourne where I completed undergraduate and post graduate studies 
            before landing my first job in psychology providing organisational / HR and counselling services. 
            I then lived in Vietnam for several years providing similar services to the expat and national 
            community before returning to Australia, living in Perth and later Sydney. 
            In both locations I started to move away from employee status and more towards contractor work 
            providing psychological services to both government and private organisations.</p>
          <p class="cs-text">Feeling the need for space I moved to the beautiful Southern Highlands where I 
            have been located for the past 10 or so years working as a private practitioner, 
            bringing a wide and varied life and professional experience into my practice.</p>

          <h2 id="">My qualifications</h2>

          <ul id="list-1405" class="cs-ul">
            <li class="cs-li">Bachelor of Applied Science (Psychology)</li>
            <li class="cs-li">Graduate Diploma of Applied Psychology (Organisational)</li>
            <li class="cs-li">EMDR Accredited Consultant - EMDR Association of Australia</li>
            <li class="cs-li">Accredited Practitioner - EMDR Association of Australia</li>
            <li class="cs-li">Accredited Practitioner - WorkCover NSW</li>
            <li class="cs-li">Accredited Consultant - EMDR Association of Australia</li>
            
          </ul>

        
            <h2 id="">My approach</h2>
            <p class="cs-text">My overarching philosophy is that whilst I have significant expertise to bring 
                to the therapeutic setting, you, as the client, have your own life experience and expertise as well.  
                I find that a collaborative approach works best as does working at your pace.</p>
            <p class="cs-text">I don't tend to set 'homework' but if this works for you I can do so.  
                More than anything, I will recommend a range of resources (books, podcasts, professional 
                articles, etc) for you to access outside of the therapeutic setting.</p>
            <p class="cs-text">It is worth noting that EMDR, generally speaking, does not require homework.</p>
            <p class="cs-text">I regularly engage in Professional Development activities to keep me up-to-date 
                with latest advances in my field.</p>
            <p class="cs-text">To help you find your best match in terms of a therapist, you might want to 
                listen to this <a href="https://podcasts.apple.com/au/podcast/the-emdr-podcast/id1570958116" target="_blank" class="podcast-card-link">podcast</a>.</p>
            
          
      </div>
      <div class="cs-image-group">
        <div class="cs-picture">
            <Picture src={carmelImage} alt="Carmel smiling" />
        </div>
      </div>
  </div>
  
</section>
                              
<CTA />

</BaseLayout>

<style lang="less">

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-713 {
        padding: var(--sectionPadding);
        background-color: #fff;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 80%;
            max-width: 1280px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (580/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            order: 2;

            img {
                width: 100%;
                height: auto;
                margin: (16/16rem) 0;
                display: block;
            }
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        h2 {
            font-size: (32/16rem);
            margin-top: (32/16rem);
        }

        h3 {
            font-size: (24/16rem);
            color: var(--primary);

            &[id]::before { 
            display: block; 
            content: ""; 
            margin-top: -155px; 
            height: 285px; 
            visibility:visible; 
            pointer-events: none;
            }
        }

        h4,
        h5,
        h6 {
            font-size: (20/16rem);
        }

        .cs-button-solid {
            margin-bottom: (32/16rem);
        }

        .cs-color {
            color: var(--primary);
        }

        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary);
            }
        }

        ol,
        ul {
            padding-left: (24/16rem);
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: (10/16rem);
                    left: (-12/16rem);
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
            font-size: ~"min(1vw, 1em)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (542/16em);
            height: (773/16em);
            display: flex;
            order: 1;
            flex: none;
            position: relative;
            /* flips it horizontally */
            transform: scaleX(-1);
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            border-radius: 4em;
            border: (12/16em) solid #fff;
            background-color: #f7f7f7;
            // box-sizing: border-box;
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                /* flips the image to its original orientation */
                transform: scaleX(-1);
            }
        }

        .cs-background {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-713 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-image-group {
            display: block;
            order: 2;
        }

        .cs-background {
            width: 20%;
            height: 100%;
            background-color: #f7f7f7;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.2;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #content-page-713 {
        .cs-image-group {
            /* position absolute so we can have it overflow the container as seen in the design. */
            font-size: inherit;
            position: absolute;
            top: (0/16rem);
            right: (-100/16rem);
        }

        .cs-background {
            width: 50%;
            /* with the left edge always positioned at the center line, we push left of the center line by 335px.  This ensures that this element will stay exactly in this position no matter how wide the screen gets */
            margin-left: (335/16rem);
            right: auto;
            /* sets the left edge of the element to be at the center line */
            left: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #content-page-713 {
            .cs-title,
            .cs-h3,
            .cs-item-text,
            .cs-item-readmore,
            ul.cs-item-text li {
                color: var(--primary);
            }

            .cs-item-text,
            .cs-item-readmore {
                opacity: 0.8;
            }

            .cs-background {
                background-color: rgba(44, 81, 38, 1.0);
            }
        }
    }
}

</style>
