---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";

import { Picture } from 'astro:assets';
import greenEyesImage from "@assets/images/green-eyes-01.webp";
---

<BaseLayout
  title="What is EMDR?"
  description="EMDR (Eye Movement Desensitisation and Reprocessing) Therapy is an evidence-based therapy used in a variety of settings and countries over recent years."
  preloadImg={import("@assets/images/landing-m.webp")}
>


<section id="int-hero">
  <h1 id="home-h">What is EMDR?</h1>
  <div class="cs-picture">
      <Picture src={greenEyesImage} alt="EMDR therapy" aria-hidden="true" />
  </div>
</section>

<section id="content-page-715">
  <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">What is <span class="cs-color">EMDR</span>?</h2>
        
        <p class="cs-text">EMDR (Eye Movement Desensitisation and Reprocessing) Therapy is an evidence-based therapy 
            and has been used in a variety of settings and countries over the last 30 years.</p>
        <p class="cs-text">EMDR is an effective treatment for both in-person and telehealth settings.</p>

        <h3>Who is suitable for EMDR therapy?</h3>
        <p class="cs-text">Whilst EMDR was originally developed for those with a PTSD diagnosis (Post traumatic Stress Disorder) more and more research supports its use for a variety of presentations including, but not limited to: </p>
        <ul>
            <li>Performance anxiety</li>
            <li>Nightmares</li>
            <li>Flashbacks</li>
            <li>Depression</li>
            <li>Anxiety</li>
            <li>Phobias</li>
            <li>Panic attacks</li>
            <li>Grief</li>
            <li>Addictions</li>
            <li>Sleeplessness</li>
        </ul>

        <p><a class="cs-link" href="#top">Back to Top</a></p>
        
        <h3>How does EMDR work?</h3>
        <p class="cs-text">During EMDR, the therapist works with the client to identify a specific problem as a focus for the treatment session. The client then calls to mind the disturbing issue or event (in as little or as much detail as feels comfortable) regarding what was seen, felt, heard, thought, etc. The therapist will then guide the client asking them to track hand movements which result in side to side eye movements or another form of bilateral stimulation.  These bilateral movements are used until the memory becomes less disturbing and is associated with a positive thought or belief about yourself.</p>
        <p class="cs-text">A typical EMDR session lasts between 60-90 minutes and can be provided on a weekly basis (a more traditional model of therapy) or more intensive basis with multiple weekly sessions taking place over a 2-4 week period.  The number of sessions you will need depends on the type of problem you are presenting with, your life circumstances and your experience of previous trauma.</p>
        <p class="cs-text">We will work out together what approach will suit you best.</p>
        <p class="cs-text">For more information re intensive EMDR treatment <a href="/contact" class="cs-link">click here</a>.</p>

        <p><a class="cs-link" href="#top">Back to Top</a></p>

        <h3>Why use EMDR as a treatment model?</h3>
        <ul>
            <li>Clients do not have to talk about their trauma in detail</li>
            <li>It does not require the completion of homework</li>
            <li>It often produces quicker results than other therapies</li>
            <li>The benefits of treatment continue to be experienced long after treatment has finished</li>
        </ul>

        <p><a class="cs-link" href="#top">Back to Top</a></p>

        <h3>EMDR is endorsed by:</h3>
        <ul>
            <li>World Health Organisation (WHO)</li>
            <li>Phoenix Australia - Centre for Posttraumatic Mental Health</li>
            <li>Substance Abuse and Mental Health Services America</li>
            <li>International Society for Traumatic Stress Studies</li>
            <li>National Institute for Health and Care Excellence</li>
            <li>Department of Veteran Affairs & Department of Defence</li>
            <li>American Psychiatric Association</li>
        </ul>

        <p><a class="cs-link" href="#top">Back to Top</a></p>

        
        
        
        <div class="cs-card-group">
                <div class="cs-item">
                    <h3 class="cs-h3">Read article:</h3>
                    <p class="cs-item-text">
                        A recent ABC News feature that delves into the transformative impact of EMDR therapy on mental health treatment.
                        The article, titled "EMDR is being heralded as 'life-changing' for mental health treatment. But what is it?", explores how EMDR is helping individuals process traumatic memories and alleviate emotional distress.
                    </p>
                    <a href="https://www.abc.net.au/news/2025-06-25/emdr-therapy-for-mental-health-treatment/105453498" class="cs-link" target="_blank">Read Now</a>
                </div>            
            </div>

  </div>

</section>
                              


<CTA />
</BaseLayout>

<style lang="less">

html {
    scroll-behavior: smooth;
}

/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-715 {
        padding: var(--sectionPadding);
        background-color: #fff;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 80%;
            max-width: 1280px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;

            img {
                width: 100%;
                height: auto;
                margin: (16/16rem) 0;
                display: block;
            }
        }
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        h3[id]::before { 
            display: block; 
            content: ""; 
            margin-top: -155px; 
            height: 285px; 
            visibility:visible; 
            pointer-events: none;
            }

        h2 {
            font-size: (32/16rem);
            margin-top: (32/16rem);
        }

        h3 {
            font-size: (24/16rem);
            margin-top: (32/16rem);
            color: var(--primary);
        }

        h4,
        h5,
        h6 {
            font-size: (20/16rem);
        }

        .cs-button-solid {
            margin-bottom: (32/16rem);
        }

        .cs-color {
            color: var(--secondary);
        }

        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        ol,
        ul {
            padding-left: (24/16rem);
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: "";
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: (10/16rem);
                    left: (-12/16rem);
                }                
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
            font-size: ~"min(1vw, 1em)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (542/16em);
            height: (773/16em);
            display: none;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            /* flips it horizontally */
            transform: scaleX(-1);
        }

        .cs-picture {
            width: 33em;
            height: 40em;
            border-radius: (285/16em);
            border: (12/16em) solid #fff;
            background-color: #f7f7f7;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: contain;
                position: absolute;
                top: 0;
                left: 0;
                /* flips the image to its original orientation */
                transform: scaleX(-1);
            }
        }

        .cs-background {
            display: none;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }
        .cs-item {
            text-align: left;
            list-style: none;
            /* 24px - 32px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.5rem, 3vw, 2rem) clamp(1rem, 3vw, 2rem);
            background-color: #FBF9F5;
            border-radius: 1rem;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;
        }
        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            /* 24px - 32px */
            margin: 0 0 clamp(1.5rem, 3vw, 2rem);
            /* 48px - 64px */
            // padding-bottom: clamp(3rem, 7vw, 4rem);
            color: var(--secondary);
        }

        .cs-item-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            margin: 0 0 2rem;
            color: var(--primary);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-715 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-image-group {
            display: block;
        }

        .cs-background {
            width: 20%;
            height: 100%;
            background-color: #f7f7f7;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                opacity: 0.2;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #content-page-715 {
        .cs-image-group {
            /* position absolute so we can have it overflow the container as seen in the design. */
            font-size: inherit;
            position: absolute;
            top: (0/16rem);
            right: (-100/16rem);
        }

        .cs-background {
            width: 50%;
            /* with the left edge always positioned at the center line, we push left of the center line by 335px.  This ensures that this element will stay exactly in this position no matter hoe wide the screen gets */
            margin-left: (335/16rem);
            right: auto;
            /* sets the left edge of the element to be at the center line */
            left: 50%;
        }
    }
}
                   
</style>
