---
const { title = 'Carmel Pound Psychology', content, content2 } =Astro.props;
---

<div id="cs-content-831">
    <div class="cs-container">
        <h2 class="cs-title">{title}</h2>
        <p class="cs-text" set:html={content}></p>
    </div>
</div>

<style>
    /* Mobile */
@media only screen and (min-width: 0rem) {
    #cs-content-831 {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        padding: 4rem 0;
    }

    .cs-container {
        width: 80%;
        max-width: 1280px;
    }

    .cs-title,
    .cs-text {
        max-width: 90%;
    }
}
        
</style>