---
const { title = 'Carmel Pound Psychology', content, content2 } =Astro.props;
---

<!-- Not currently used 
 To pull this into website use:
<Content title="EMDR Therapist - Southern Highlands NSW" content="Carmel Pound is a Psychologist and EMDR Therapist based in the Southern Highlands NSW providing both face-to-face and telehealth psychology services.  Since becoming registered as a Psychologist I have engaged in training and provided a range of evidence-based therapies in my practice but now use EMDR as my main treatment modality.  I have years of experience in EMDR and have attained Accredited Consultant status in the EMDR Association of Australia. The title ‘Accredited Consultant’ reflects a therapist who has well-developed EMDR skills and expertise in providing consultation to other therapists. (If you are an EMDR supervisee please click here.)" />
-->

<div id="cs-content-831">
    <div class="cs-container">
        <h2 class="cs-title">{title}</h2>
        <p class="cs-text" set:html={content}></p>
    </div>
</div>

<style lang="less">
    /* Mobile */
@media only screen and (min-width: 0rem) {
    #cs-content-831 {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        padding: 12rem 0;
    }

    .cs-container {
        width: 80%;
        max-width: 1280px;
    }

    .cs-title,
    .cs-text {
        max-width: 90%;
    }
}
        
</style>