<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<div id="gallery-565">
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="src/assets/images/baby-cacti-768x512.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="src/assets/images/baby-cacti-768x512.jpg">
        <img loading="lazy" decoding="async" src="src/assets/images/baby-cacti-768x512.jpg" alt="baby cacti" width="768" height="512">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="src/assets/images/parrot-in-tree-768x512.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="src/assets/images/parrot-in-tree-768x512.jpg">
        <img loading="lazy" decoding="async" src="src/assets/images/parrot-in-tree-768x512.jpg" alt="picture" width="768" height="512">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="src/assets/images/ocean-waves-768x512.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="src/assets/images/ocean-waves-768x512.jpg">
        <img loading="lazy" decoding="async" src="src/assets/images/ocean-waves-768x512.jpg" alt="picture" width="768" height="512">
    </picture>

</div>

<style>
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-565 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .cs-picture {
            width: 100%;
            height: auto;
            /* height divided by width */
            aspect-ratio: 360/268;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-565 {
        flex-direction: row;

        .cs-picture {
            /* 268px - 550px */
            height: clamp(16.75rem, 37vw, 34.375rem);
            aspect-ratio: initial;
        }
    }
}

</style>