---
import { Picture } from "astro:assets";
import { Image } from "astro:assets";
import carmelImage from "@assets/images/Carmel-crossed-arms.jpg";
---

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1279">
    <div class="cs-container">
        <picture class="cs-picture">
            <Picture loading="lazy" decoding="async" src={carmelImage} formats={['webp','jpg']} alt="photo of Carmel" />
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title">Psychologist and EMDR Therapist </h2>
            </div>
            <p class="cs-text">
                I'm based in the Southern Highlands NSW providing both in-person and telehealth psychology services.</p>
                <p class="cs-text">As an experienced Psychologist I have engaged in specialist training and provided a range of evidence-based therapies in my practice.  
                I now use EMDR (Eye Movement Desensitisation Reprocessing) as my main treatment modality.  
                The Australian Psychological Society has recently elevated EMDR therapy to a Level 1 evidence-based therapy for PTSD, CPTSD, trauma and depression.  
                EMDR therapy is also suitable for a range of other presentations. </p>
                <p class="cs-text">I have years of experience in EMDR and have attained Accredited Consultant status from the EMDR Association of Australia.</p>
                <p class="cs-text">
                The title 'Accredited Consultant' reflects a therapist who has well-developed EMDR skills and expertise and is able to provide clinical consultation to other therapists.</p>
                
                <p class="cs-text"><em>If you are interested in EMDR supervision please <a href='/contact'>click here</a>.</em></p>
                <p class="cs-text">
                I am also a Psychology Board of Australia (PsyBA) approved supervisor and registered with AHPRA to supervise provisional psychologists and other 
                registered psychologists undertaking supervised practice programs.</p>
                <p class="cs-text"><em>If you are a psychologist-in-training and interested in supervision please <a href='/contact'>click here</a>.</em></p>
            </p>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<style lang="less">
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1279 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (850/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 108px */
            gap: clamp(3rem, 5vw, 6.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* sends it to the bottom in the 2nd position */
            order: 2;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            border: none;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 460px;
            max-width: 100%;
            /* 456px - 598px */
            height: clamp(28.5rem, 46vw, 37.375rem);
            border-radius: (20/16rem);
            overflow: hidden;
            display: block;
            /* sends it to the bottom in the 2nd position */
            order: 2;
            position: relative;
            z-index: 1;
            margin: 0 auto;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.3;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 550px;
            background-color: #2c5126;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-1279 {
        .cs-content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: (32/16rem);
        }

        .cs-flex {
            width: 45%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
        }

        .cs-button-solid {
            margin-right: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1279 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-content {
            width: 100%;
            max-width: (433/16rem);
            margin: 0;
            flex-direction: column;
            row-gap: 0;
            order: 1;
        }

        .cs-flex {
            width: 100%;
        }

        .cs-title {
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            width: 100%;
        }

        .cs-picture {
            max-width: (738/16rem);
        }

        .cs-background {
            width: 60vw;
            height: 100%;
            /* 172px - 336px */
            margin-left: clamp(11.125rem, 10vw, 21rem);
            left: 50%;
            top: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1279 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-background {
                background-color: rgba(44, 81, 38, 1.0);
            }
        }
    }
}


</style>