<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-564">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/carmel-in-chair.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/carmel-in-chair.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/carmel-in-chair.jpg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">About Me</span>
            <h2 class="cs-title">Carmel Pound <span class="cs-color">Psychology</span></h2>
            <h3 class="cs-h3">Process Engineering</h3>
            <p class="cs-text">
                My overarching philosophy is that whilst I have significant expertise to
                bring to the therapeutic setting, you, as the client, have your own life
                experience expertise as well. I find that a collaborative approach works
                best as does working at your pace.
              </p>
              <p class="cs-text">
                I don’t tend to set ‘homework’ but if this works for you I can do so.
                More than anything, I will recommend a range of resources (books,
                podcasts, professional articles, etc) for you to access outside of the
                therapeutic setting. EMDR does not require homework.</p>
                <p class="cs-text">
                    To help you find your best match in terms of a therapist, you might
                    want to listen to this podcast. I provide a combination of in-person
                    appointments in my Bowral rooms and telehealth appointments.
                </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Making Lives Easier
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Making Lives Easier
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Making Lives Easier
                </li>
            </ul>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<style>
    /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-564 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--headerColor);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-h3 {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 3vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
            color: var(--headerColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
        }

        .cs-li {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (20/16rem);
        }

        .cs-icon {
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #000;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--secondary);
            border-radius: (4/16rem);
            display: inline-block;
            overflow: hidden;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color .3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            /* changes at tablet */
            width: 100%;
            max-width: (630/16rem);
            /* changes to a clamp at tablet */
            height: (396/16rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-564 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .cs-picture {
            width: 46vw;
            /* 415px - 528px */
            height: clamp(25.9375rem, 50vw, 33rem);
        }

        .cs-content {
            width: 45%;
            max-width: (520/16rem);
        }
    }
}
                                
</style>